.container{
    width: min(1200px, 90%);
    margin: auto;
    margin-bottom: 5rem;
    margin-top: 2rem;
    
}
.logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.logoText{
    font-size: 3rem;
    color: #f7931a;
    margin-right: 1.2rem;
}

.logoIcon{
    width: 7rem;
    padding: 1rem;
}


@media screen and (max-width: 600px){
    .logoText{
        margin-right: 0;
    }
}