.container {
    width: min(1200px, 90%);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    justify-items: center; 
    font-family: 'Roboto', sans-serif; 
}